/* .mediaViewInfo {
    --web-view-name: New Game Page;
    --web-view-id: New_Game_Page;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: New_Game_Page;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
} */
#New_Game_Page {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-color: rgba(124,152,179,1);
    overflow: hidden;
    --web-view-name: New Game Page;
    --web-view-id: New_Game_Page;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#Game_Title {
    left: 852px;
    top: 226px;
    position: absolute;
    overflow: visible;
    width: 218px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: rgba(255,255,255,1);
}
#hangman {
    position: absolute;
    width: 98px;
    height: 98px;
    left: 911px;
    top: 82px;
    overflow: visible;
}
.dropdown_button {
  /* background-color: #4CAF50; */
  fill: rgba(255,255,255,1);
  border: rgba(112,112,112,1);
  border-radius: 13px;
  color: rgba(112,112,112,1);
  padding: 16px;
  font-size: 24px;
  cursor: pointer;
  width: 333px;
  height: 51px;
  left: 794px;
  top: 610px;
  font-family: Roboto;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown_options {
  display: none;
  position: absolute;
  background-color: rgba(255,255,255,1);
  min-width: 333px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: Roboto;
  border-radius: 13px;
}

/* Links inside the dropdown */
.dropdown_options a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: Roboto;
  border-radius: 13px;
}

/* Change color of dropdown links on hover */
.dropdown_options a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown_options {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .Difficulty_Dropdown:hover .Difficulty_Button {
  background-color: ;
} */
#Play_Button {
    position: absolute;
    width: 333px;
    height: 53px;
    left: 794px;
    top: 860px;
    overflow: visible;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: Main_Game_Page.html;
    cursor: pointer;
}
#Play_Background {
    fill: rgba(172,203,225,1);
    stroke: rgba(255,255,255,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Play_Background {
    position: absolute;
    overflow: visible;
    width: 333px;
    height: 53px;
    left: 0px;
    top: 0px;
}
#Play_Text {
    left: 143px;
    top: 11px;
    position: absolute;
    overflow: visible;
    width: 48px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: rgba(255,255,255,1);
}